<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/farbtastic.css" />
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/static/jquery.min.js"></script>
  <script src="/static/farbtastic.js"></script>
  <script>
    $(function() {
      $('#picker').farbtastic('#colour');
    });
  </script>

<h1><a href="/">Radio Panik</a> :: {{ category }}</h1>
<div class="row">
  {% if members %}
  <div class="span{% if members and files %}6{% else %}16{% endif %}">
    <h2>Sub categories</h2>
    <ul>
      {% for page in members %}
      <li><a href="/{{ page.title|urlencode }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if files %}
  <div class="span{% if members and files %}10{% else %}16{% endif %}">
  <h2>Generate Panik Imagery</h2>
  <p>{{ files|length }} files!</p>
  <form action="/{{ category }}.svg" method="post">
    <p>Select Colour:</p>
    <p><input type="text" id="colour" name="colour" value="#000000"></p>
    <div id="picker"></div>
    <p>Input Text:</p>
    <p><textarea name="text" id="txt" class="large" rows="7"></textarea></p>
    <p>Size:</p>
    <select id="papersize" name="papersize">
      <option value="cd">CD cover</option>
      <option value="a2">A2</option>
      <option value="a3">A3</option>
      <option value="a4">A4</option>
      <option value="a5">A5</option>
    </select>
    <p><input type="submit" value="Generate SVG!"></p>
    <p>(This might take some time!)</p>
    <p>To properly view the SVG’s, you need to <br/>have installed the <a href="http://ospublish.constantvzw.org/foundry/reglo/" title="OSP-foundry » Reglo">Reglo font</a>.</p>
  </form>
  </div>
  {% endif %}
</html>